Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  portability-*,
  readability-avoid-const-params-in-decls,
  readability-braces-around-statements,
  readability-container-size-empty,
  readability-identifier-naming,
  readability-make-member-function-const,
  readability-redundant-*,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)(include|src|tests)/'
FormatStyle: file
CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
